.product-details-section {
  width: 100%;
  background: #fff;
  padding: 42px 0 24px;
}

.product-details-title {
  margin: 0 0 42px;
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  color: #111;
  text-transform: uppercase;
}

.product-details-gallery {
  width: 900px; /* 1080 se kam */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 0;
}

.gallery-img-box {
  width: 450px;
  height: 300px; /* 380 se kam */
  overflow: hidden;
}

.gallery-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Zoom hata do */
.left-img img,
.right-img img {
  transform: none;
  object-position: center center;
}


.right-img img {
  transform: scale(1.03);
  transform-origin: center center;
  object-position: center center;
}

.store-check-box {
  width: 900px;
  max-width: calc(100% - 40px);
  height: 48px;
  margin: 38px auto 0;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  background: #fff;
  box-sizing: border-box;
}

.store-left,
.store-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.store-left img,
.store-right img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}

.store-left span {
  font-size: 17px;
  color: #111;
  font-weight: 400;
}

.store-right span {
  font-size: 14px;
  color: #111;
  font-weight: 400;
}

@media (max-width: 1120px) {
  .product-details-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-img-box {
    width: 100%;
    height: 56vw;
    max-height: 603px;
  }

  .store-check-box {
    width: calc(100% - 40px);
  }
}

@media (max-width: 768px) {
  .product-details-section {
    padding: 32px 0 20px;
  }

  .product-details-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .product-details-gallery {
    grid-template-columns: 1fr;
  }

  .gallery-img-box {
    height: auto;
  }

  .gallery-img-box img {
    height: auto;
    transform: none;
  }

  .store-check-box {
    height: 46px;
    margin-top: 28px;
    padding: 0 14px;
  }
}